.Calendar-Container {
    padding-top: 30px;
}

.react-calendar{
    border: none !important;
    color: white !important;
    background-image: linear-gradient(75deg, #19D3AE,#0fcfec) !important;
}
.react-calendar__navigation__label{
    background-color: white !important;
}

.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button{
    display: none !important;
}


.react-calendar__tile:hover {
    color: white !important;
    background-color: #189995 !important;
}

.react-calendar__tile--active{
    color: white !important;
    background-color: #189995 !important;

}


