.Intro-infos{
    position: relative;
    bottom: -100%;
    
}

.Intro-infos .icon{
    font-size: 3em;
}
.Intro-infos .single-info {
    background-color: #1cc7c1 !important;
}
/* .row{
    display: flex;
    flex-wrap: wrap;
} */
.info-content{
    /* height: 100%; */
    width: 100% !important;
}

@media (max-width: 900px) {
    .Intro-info:last-child {
      width: 100% !important; 
    }
  }